@media only screen and (max-width: 992px)
{
.sidenav {
    /* display: block; */
    background-color: #ffffff; 
    /* margin-top: 20px; */
    /* width: 100%;         */
    height: 90%;
}

/* .sidenav a:hover {
        background-color: #d42626;
    } */

    /* Đặt màu chữ và bỏ gạch chân cho tất cả các liên kết trong sidenav */
.sidenav a {
        color: #000000; /* Màu chữ đen */
        text-decoration: none; /* Bỏ gạch chân */
        display: block; /* Để các liên kết chiếm toàn bộ chiều rộng */
        padding-top: 25px; /* Thêm khoảng cách bên trong */
        border: 0;
    }

.sidenav a i {
        margin: 0 20px 0 10px; /* Khoảng cách giữa icon và chữ */
        vertical-align: middle;
    }

 .sidenav .icon-header {
        color: rgb(36, 116, 229);
    }

.sidenav .label {
        margin-right: -5px;
    }

.sidenav img {
        height: auto;
        width: 24px;
    }

.sidenav .flag-icon {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-left: 10px;
        display: inline-block; /* Đảm bảo text nằm cùng dòng với icon */
    }

.sidenav .flag-icon2 {
        margin-left: 100px;
    }

.fas-fa-briefcase-icon-header {
        margin-left: 10px !important;
    }

.menu-item-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin: 0 0 300px 24px; /* Gộp margin-left và margin-bottom */
    }

.menu-item-container li {
        list-style: none;
    }

.text-container, .sidenav.text-container {
        margin-left: 10px;
        display: inline-block; /* Đảm bảo text nằm cùng dòng với icon */
    }

.k1, .k2, .k3, .k4, .k5, .k6, .k7, .k8, .k9, .k15, .k16 {
        margin-left: 5px !important;
    }

 .k11, .k13, .k14, .k10 {
        margin-left: 10px !important;
    }

 .k12 {
        margin-left: 15px;
    }
}