@media (max-width: 1676px) {
    .fg {
        margin-top: -50px;
    }
    .relatedContent {
        width: 700px;
    }
    .cta-button {
        width: 90%;
    }
}
@media (max-width: 1400px) {
    .fg {
        margin-top: -50px;
    }
    .relatedContent {
        width: 700px;
    }
    .cta-button {
        width: 90%;
    }
}
@media (max-width: 768px) {
    .cta-button {
        display: block;
        width: 100%;
        max-width: 100%;
        padding: 15px 0;
        font-size: 16px;
        text-align: center;
        box-sizing: border-box;
        margin: 10px auto;
    }
    .post-footer {
        text-align: center;
    }
    .fg {
        margin-top: -50px;
    }
    .relatedContent {
        width: 690px;
        margin-left: 35px;
    }
    .cta-button {
        width: 90%;
    }
}
@media (max-width: 768px) {
    .fg {
        margin-top: -50px;
    }
    .relatedContent {
        width: 690px;
        margin-left: 35px;
    }
    .cta-button {
        width: 90%;
    }
}
@media (max-width: 375px) {
    .cta-button {
        width: 375px;
        max-width: 375px;
        padding: 375px;
    }
    .post-footer {
        text-align: center;
    }
}
