body {
    background-color: #f8f9fa;
    font-size: 15px !important;
}

a{
    color: #000;
}

.container {
    width: 1500px;
    padding: 0px 10px;
    margin: auto;
}

.total-header{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(36, 116, 229);
    padding: 16px 20px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    color: white;
}

.left-header{
    display: flex;
    gap: 16px;
    -webkit-box-align: center;
    align-items: center;
    max-width: 400px;
}

.right-header{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    justify-content: end;
    margin: 0px;
    padding: 0px;
    gap: 10px;
}

.slogan-header{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
}

.nav-link-header{
    padding-left: 5px !important;
    padding-right: 5px !important;
    color: #fff !important;
    font-weight: 500 !important;
    font-size: 14px !important;
}

.ijyXqH{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 2px;
    height: 34px;
    width: 115px;
    border-radius: 6px;
    color: rgb(13, 46, 89);
    border: 1px solid rgb(224, 224, 224);
    background-color: white;
}

body .material-icons-wrapper.md-20 {
    width: 20px;
    height: 13px;
    display: flex;
}

.boemqK{
    margin-bottom: 0rem;
    font-weight: 600;
    font-size: 14px;
}

.material-icons{
    font-size: 20px !important;
}

.Navbar2__ButtonHotline-sa2air-8{
    cursor: pointer;
}

.contact-dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 5px 10px;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    visibility: hidden;
    color: #000;
    border-radius: 8px;
    right: 0;
    transform: translateX(-80%);
    margin-top: 10px;
}

.contact-dropdown i{
    color: red;
}

.contact-dropdown.show {
    display: block;
    opacity: 1;
    visibility: visible;
}

.contact-dropdown a{
    text-decoration: none;
    color: #000;
}

.show {
    display: block;
}

.total-slide{
    position: relative;
}

.img-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrap-criteria{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    gap: 64px;
    width: 100%;
    height: 64px;
    padding: 0px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.criteria-slide{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 6px;
}

.criteria-slide p{
    margin-bottom: 0rem;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 37px;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: -15px;
    right: 0px;
    font-size: 31px;
}

#main {
    transition: margin-left .5s;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.topnav {
    overflow: hidden;
    background-color: rgb(36, 116, 229);
}

.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 5px 0px;
    text-decoration: none;
    font-size: 14px;
}

.topnav #myLinks {
    display: none;
}

.active {
    background-color: #04AA6D;
    color: white;
}

.topnav{
    display: none;
}

.login-mobi a{
    color: #fff;
}

.logo-mobi img{
    max-width: 100px;
}

.togglenav-mobile{
    min-width: 50px;
}

.closebtn{
    border-bottom: 0px solid !important;
}

#main-footer{
    background: rgb(255, 255, 255);
    text-align: center;
    padding: 24px 10px;
    color: rgb(118, 118, 118);
    font-size: large;
    width: 100%;
    margin: auto;
}

#main-footer h2{
    font-size: 18px;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #000;
}

#main-footer p{
    margin-bottom: 0rem;
    font-size: 14px;
}

.sidenav i{
    padding-right: 6px;
    font-size: 20px;
}
