@media (max-width: 576px) {
    .steps-container-train {
        padding: 0px 4px !important;
        justify-content: center;
    }
    .container-steps-train{
        min-height: 100px;
    }
    .wrap-steps-train{
        display: flex;
        flex-direction: column;
    }
    .left-steps-train{
        width:100% !important;
        display:flex ;
        justify-content: center;
        align-items: center;
    }
    .seat-groups-train{
        display: flex !important;
        flex-direction: row !important;
        width: 100%;
        justify-content: center;
    }
    .seat-groups-train span{
        display: none;
    }
    .seat-info-train{
        display: flex;
        flex-direction: column !important;
    }
    .request{
        display: flex !important;
        flex-direction: column !important;
    }


}


@media (max-width: 500px) {
    .w-container-train{
        width: 25%;
    }
    .container-qr .qrcode-container{
        max-width: 90%;
    }


}


@media (max-width: 1100px) {
    .note-train {
        flex-direction: column;
        text-align: center;
        display: flex;
        align-items: center;
    }
    .right-steps-content .coach {
        padding: 24px 3px 12px;
    }

.request{
    display: flex !important;
    flex-direction: column !important;
}
.right-steps-content{
    display: flex;
    justify-content: center;
}
}

@media (max-width: 375px) {
    .shipSeat{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .request{
        display: flex !important;
        flex-direction: column !important;
    }
    .right-steps-content{
        display: flex;
        justify-content: center;
    }
    .itemAbate img{
        width: 35%;
    }
    .itemAbate i{
        font-size: 60px;
    }
    .w-container-train{
        width: 30%;
    }

}
@media (max-width: 768px) {
    .note-train {
        flex-direction: column;
        text-align: center;
        display: flex;
        align-items: center;
    }
}
@media (max-width: 600px) {
    .active-train .show {
       margin-left: -20px;
   }
}


/* @media (max-width: 1400px) {
}

@media (max-width: 1676px) {
}
@media  (max-width:550px){
}
@media (max-width:605px) {
}
 @media only screen and (max-width: 430px) {

}
@media (max-width: 992px) {
} */
