@media (max-width: 576px) {

    .steps-container {
        /* font-size: 13px; */
        padding: 0px 4px !important;
        justify-content: center;
    }
    .container-steps-content{
        min-height: 100px;
    }
    .wrap-steps-content{
        display: flex;
        flex-direction: column;
    }
    .left-steps-content{
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .seat-groups{
        display: flex;
        flex-direction: row;

    }
    .seat-groups span{
        display: none;
    }
    .seat-info{
        display: flex;
        flex-direction: column !important;
    }
    .request{
        display: flex !important;
        flex-direction: column !important;
    }
}


@media (max-width: 500px) {
    .w-container {
        width: 15%;
    }
}


@media (max-width: 1100px) {
    .note {
        flex-direction: column;
        text-align: center;
        display: flex;
        align-items: center;
    }
    .right-steps-content .coach {
        padding: 24px 3px 12px;
    }
}
